<table class="keyValue">
  <tbody>
    <tr>
      <td class="key">{{ "kernel" | translate }}</td>
      <td class="value">{{ versions.kernel }}</td>
    </tr>
    <tr>
      <td class="key">{{ "openssl" | translate }}</td>
      <td class="value">{{ versions.openssl }}</td>
    </tr>
    <tr>
      <td class="key">{{ "systemOpenssl" | translate }}</td>
      <td class="value">{{ versions.systemOpenssl }}</td>
    </tr>
    <tr>
      <td class="key">{{ "systemOpensslLib" | translate }}</td>
      <td class="value">{{ versions.systemOpensslLib }}</td>
    </tr>
    <tr>
      <td class="key">{{ "node" | translate }}</td>
      <td class="value">{{ versions.node }}</td>
    </tr>
    <tr>
      <td class="key">{{ "v8" | translate }}</td>
      <td class="value">{{ versions.v8 }}</td>
    </tr>
    <tr>
      <td class="key">{{ "npm" | translate }}</td>
      <td class="value">{{ versions.npm }}</td>
    </tr>
    <tr>
      <td class="key">{{ "yarn" | translate }}</td>
      <td class="value">{{ versions.yarn }}</td>
    </tr>
    <tr>
      <td class="key">{{ "pm2" | translate }}</td>
      <td class="value">{{ versions.pm2 }}</td>
    </tr>
    <tr>
      <td class="key">{{ "gulp" | translate }}</td>
      <td class="value">{{ versions.gulp }}</td>
    </tr>
    <tr>
      <td class="key">{{ "grunt" | translate }}</td>
      <td class="value">{{ versions.grunt }}</td>
    </tr>
    <tr>
      <td class="key">{{ "git" | translate }}</td>
      <td class="value">{{ versions.git }}</td>
    </tr>
    <tr>
      <td class="key">{{ "tsc" | translate }}</td>
      <td class="value">{{ versions.tsc }}</td>
    </tr>
    <tr>
      <td class="key">{{ "mysql" | translate }}</td>
      <td class="value">{{ versions.mysql }}</td>
    </tr>
    <tr>
      <td class="key">{{ "redis" | translate }}</td>
      <td class="value">{{ versions.redis }}</td>
    </tr>
    <tr>
      <td class="key">{{ "mongodb" | translate }}</td>
      <td class="value">{{ versions.mongodb }}</td>
    </tr>
    <!-- <tr>
      <td class="key">{{ "apache" | translate }}</td>
      <td class="value">{{ versions.apache }}</td>
    </tr> -->
    <tr>
      <td class="key">{{ "nginx" | translate }}</td>
      <td class="value">{{ versions.nginx }}</td>
    </tr>
    <tr>
      <td class="key">{{ "php" | translate }}</td>
      <td class="value">{{ versions.php }}</td>
    </tr>
    <tr>
      <td class="key">{{ "docker" | translate }}</td>
      <td class="value">{{ versions.docker }}</td>
    </tr>
    <tr>
      <td class="key">{{ "postfix" | translate }}</td>
      <td class="value">{{ versions.postfix }}</td>
    </tr>
    <tr>
      <td class="key">{{ "postgresql" | translate }}</td>
      <td class="value">{{ versions.postgresql }}</td>
    </tr>
    <tr>
      <td class="key">{{ "perl" | translate }}</td>
      <td class="value">{{ versions.perl }}</td>
    </tr>
    <tr>
      <td class="key">{{ "python" | translate }}</td>
      <td class="value">{{ versions.python }}</td>
    </tr>
    <tr>
      <td class="key">{{ "python3" | translate }}</td>
      <td class="value">{{ versions.python3 }}</td>
    </tr>
    <tr>
      <td class="key">{{ "pip" | translate }}</td>
      <td class="value">{{ versions.pip }}</td>
    </tr>
    <tr>
      <td class="key">{{ "pip3" | translate }}</td>
      <td class="value">{{ versions.pip3 }}</td>
    </tr>
    <tr>
      <td class="key">{{ "java" | translate }}</td>
      <td class="value">{{ versions.java }}</td>
    </tr>
    <tr>
      <td class="key">{{ "gcc" | translate }}</td>
      <td class="value">{{ versions.gcc }}</td>
    </tr>
    <tr>
      <td class="key">{{ "virtualbox" | translate }}</td>
      <td class="value">{{ versions.virtualbox }}</td>
    </tr>
    <!-- <tr>
      <td class="key">{{ "bash" | translate }}</td>
      <td class="value">{{ versions.bash }}</td>
    </tr> -->
    <!-- <tr>
      <td class="key">{{ "zsh" | translate }}</td>
      <td class="value">{{ versions.zsh }}</td>
    </tr> -->
    <!-- <tr>
      <td class="key">{{ "fish" | translate }}</td>
      <td class="value">{{ versions.fish }}</td>
    </tr> -->
    <!-- <tr>
      <td class="key">{{ "powershell" | translate }}</td>
      <td class="value">{{ versions.powershell }}</td>
    </tr> -->
    <tr>
      <td class="key">{{ "dotnet" | translate }}</td>
      <td class="value">{{ versions.dotnet }}</td>
    </tr>
  </tbody>
</table>
