
  <table class="keyValue">
    <tbody>
      <tr>
        <td class="key">{{ "manufacturer" | translate }}</td>
        <td class="value">{{ system.manufacturer }}</td>
      </tr>
      <tr>
        <td class="key">{{ "model" | translate }}</td>
        <td class="value">{{ system.model }}</td>
      </tr>
      <tr>
        <td class="key">{{ "version" | translate }}</td>
        <td class="value">{{ system.version }}</td>
      </tr>
      <tr>
        <td class="key">{{ "serial" | translate }}</td>
        <td class="value">{{ system.serial }}</td>
      </tr>
      <tr>
        <td class="key">{{ "uuid" | translate }}</td>
        <td class="value">{{ system.uuid }}</td>
      </tr>
      <tr>
        <td class="key">{{ "sku" | translate }}</td>
        <td class="value">{{ system.sku }}</td>
      </tr>
      <tr>
        <td class="key">{{ "virtual" | translate }}</td>
        <td class="value">{{ system.virtual }}</td>
      </tr>
      <tr *ngIf="system.virtual">
        <td class="key">{{ "virtualHost" | translate }}</td>
        <td class="value">{{ system.virtualHost }}</td>
      </tr>
    </tbody>
  </table>

