<table class="keyValue">
  <tbody>
    <tr>
      <td class="key">{{ "platform" | translate }}</td>
      <td class="value">{{ os.platform }}</td>
    </tr>
    <tr>
      <td class="key">{{ "distro" | translate }}</td>
      <td class="value">{{ os.distro }}</td>
    </tr>
    <tr>
      <td class="key">{{ "release" | translate }}</td>
      <td class="value">{{ os.release }}</td>
    </tr>
    <tr>
      <td class="key">{{ "codename" | translate }}</td>
      <td class="value">{{ os.codename }}</td>
    </tr>
    <tr>
      <td class="key">{{ "kernel" | translate }}</td>
      <td class="value">{{ os.kernel }}</td>
    </tr>
    <tr>
      <td class="key">{{ "arch" | translate }}</td>
      <td class="value">{{ os.arch }}</td>
    </tr>
    <tr>
      <td class="key">{{ "hostname" | translate }}</td>
      <td class="value">{{ os.hostname }}</td>
    </tr>
    <tr>
      <td class="key">{{ "fqdn" | translate }}</td>
      <td class="value">{{ os.fqdn }}</td>
    </tr>
    <tr>
      <td class="key">{{ "codepage" | translate }}</td>
      <td class="value">{{ os.codepage }}</td>
    </tr>
    <tr>
      <td class="key">{{ "logofile" | translate }}</td>
      <td class="value">{{ os.logofile }}</td>
    </tr>
    <tr>
      <td class="key">{{ "serial" | translate }}</td>
      <td class="value">{{ os.serial }}</td>
    </tr>
    <tr>
      <td class="key">{{ "build" | translate }}</td>
      <td class="value">{{ os.build }}</td>
    </tr>
    <tr>
      <td class="key">{{ "servicepack" | translate }}</td>
      <td class="value">{{ os.servicepack }}</td>
    </tr>
    <tr>
      <td class="key">{{ "uefi" | translate }}</td>
      <td class="value">{{ os.uefi }}</td>
    </tr>
    <tr>
      <td class="key">{{ "hypervisor" | translate }}</td>
      <td class="value">{{ os.hypervisor }}</td>
    </tr>
    <tr>
      <td class="key">{{ "remoteSession" | translate }}</td>
      <td class="value">{{ os.remoteSession }}</td>
    </tr>
  </tbody>
</table>
